---
import Layout from '../layouts/MainLayout.astro';
import HomeScreen from '../components/HomeScreen.astro';
import AboutMeScreen from '../components/AboutMeScreen.astro';
import PortafolioScreen from '../components/PortafolioScreen.astro';
import EmailScreen from '../components/EmailScreen.astro';
---

<Layout>
	<main class="mx-auto max-w-screen-md">
		<HomeScreen />
		<AboutMeScreen />
		<PortafolioScreen />
		<EmailScreen />
	</main>
</Layout>

<style>
	
</style>
