---
import Subtitle from "./Subtitle.astro";
import ProjectCard from "./ProjectCard.astro";
---

<section id="projects">
    <Subtitle title=".portafolio()" />
    <div class="mt-5">
        <ProjectCard 
            title="Gift Exchange"
            projectType="app"
            description="During my four years of experience in the development industry, I have distinguished myself as a self-taught individual who enjoys challenges and consistently seeks new experiences. I have focused on web development with multiple successful projects, and in my free time, I have expanded my skills by delving into smart contract development on the blockchain and exploring the fascinating world of data science."
            tags={["go", "mysql",  "docker", "serverless", "aws_rds", "aws_lambda", "flutter", "dart", "github_actions", "kafka"]}
            imageName="gift_exchange.PNG"
            href="https://github.com/JorgeADevelop"
        />
        <ProjectCard 
            title="NeoRide"
            projectType="web"
            description="Neoride is a platform that enables users to pay their tolls more efficiently. With the app, users can conveniently view their payment history, automatically load points, and generate expense reports."
            tags={["go", "mysql", "elasticsearch", "docker", "kubernetes", "gin", "git", "jenkins", "aws_s3"]}
            imageName="neoride.PNG"
            href="https://neoride.com/"
        />
        <ProjectCard 
            title="Sund & Bælt"
            projectType="web"
            description="We worked closely with the government of Denmark to develop a system aimed at encouraging citizens to use public transportation in the city. This was achieved by creating a web-based administrator where administrators could select highly trafficked areas within the city and assign a cost to those zones. Cameras were integrated into these areas to monitor citizen traffic, and through a mobile application, citizens could pay based on the amount of time they spent within the zone."
            tags={["go", "mysql", "mongodb", "docker", "kubernetes", "gin", "git", "jenkins", "aws_s3", "google_maps_platform"]}
            imageName="sund_and_belt.PNG"
            href="https://sundogbaelt.dk/en/"
        />
    </div>
</section>
